<a href="https://colab.research.google.com/github/gonzalezcortes/NLP_with_ClimateBert/blob/main/data_03_results.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import time

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
directory = '/content/drive/My Drive/Research Papers/Climate_2022/'

In [ ]:
#data= pd.read_csv(directory+'output11_03_2022-12_38_24.csv')

data = pd.read_pickle(directory+'output11_03_2022-12_46_25.pkl')

In [ ]:
data.head()

,Company,Text,Label,Score,Year
0,imperial,SUSTAINABILITY PERFORMANCE SUMMARY 202116% DEC...,no,0.997861,2021
1,imperial,Our Sustainability Performance Summary details...,yes,0.848230,2021
2,imperial,Our sustainability strategy is aligned with t...,yes,0.988876,2021
3,imperial,In this document we also provide information ...,no,0.984115,2021
4,imperial,ENABLING GROWTH & CREA TING VALUEMAINTAININ...,no,0.995882,2021

In [ ]:
len(data)

1016156

In [ ]:
cop = data['Company'].unique()
len(cop)

100

In [ ]:
cop

array(['imperial', 'relx', 'persimmon', 'sc', 'sage', 'meggitt', 'lseg',
       'next', 'nw', 'natwest', 'sse', 'wpp', 'whitbread', 'smithds',
       'unilever', 'mondi', 'rds', 'rento', 'sjp', 'melrose', 'reckitt',
       'lloyds', 'rm', 'kingfisher', 'intermediate', 'smiths', 'segro',
       'rolls', 'pershing', 'intercontinental', 'land', 'mng', 'informa',
       'ss', 'ocado', 'rt', 'intertek', 'sm', 'tw', 'uu', 'vodafone',
       'rmg', 'lng', 'st', 'pm', 'jd', 'international', 'sb', 'schroders',
       'tesco', 'sk', 'pearson', 'admiral', 'abrdn', '3i', 'anglo',
       'antofagasta', 'ashtead', 'abf', 'astra', 'auto', 'avast', 'aveva',
       'aviva', 'bnm', 'barclays', 'barratt', 'berkeley', 'bhp', 'bp',
       'bat', 'bl', 'bt', 'bunzl', 'burberry', 'coca', 'compass', 'crh',
       'croda', 'dcc', 'diageo', 'dechra', 'entain', 'rs', 'experian',
       'gsk', 'glencore', 'flutter', 'ferguson', 'hl', 'hikma', 'halma',
       'hsbc', 'snn', 'evraz', 'fresnillo', 'itv', 'national', 'phoenix',
       'prud'], dtype=object)

In [ ]:
years = ['2019','2020','2021']

In [ ]:
negat_porcentage = lambda datag: np.sum(datag["Label"]=='yes')/float(len(datag))
detailed_returns = []
for company in cop:
    for year in years:
        filtered_set = data[(data['Company']==company) & (data['Year']==year)]
        #filtered_set = data[(data['Company']==company)]
        detailed_returns.append([company, year, negat_porcentage(filtered_set)])
        #print(negat_porcentage(filtered_set))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

In [ ]:
detailed_dataframe = pd.DataFrame(detailed_returns, columns=['Company', 'Year', 'Porcentage'])
detailed_dataframe.head()

    Company  Year  Porcentage
0  imperial  2019    0.018880
1  imperial  2020    0.016982
2  imperial  2021    0.244604
3      relx  2019    0.020175
4      relx  2020    0.026022

In [ ]:
data_pivot = detailed_dataframe.pivot(index='Company', columns='Year', values='Porcentage')
data_pivot

Year           2019      2020      2021
Company
3i         0.094903  0.126298  0.098226
abf        0.215622  0.229207  0.298822
abrdn      0.185379  0.302198  0.205526
admiral    0.095361  0.126183  0.110902
anglo      0.132840  0.161278  0.177100
...             ...       ...       ...
unilever   0.056578  0.064566  0.071429
uu         0.028504  0.037274  0.047745
vodafone   0.012653  0.014013  0.019367
whitbread  0.028378  0.027190  0.024623
wpp        0.024925  0.036240  0.046901

[100 rows x 3 columns]

In [ ]:
path = '/content/drive/My Drive/Research Papers/Climate_2022/detailed_results_'
time_string = time.strftime("%m_%d_%Y-%H_%M_%S", time.localtime())
data_pivot.to_csv(path+time_string+'.csv')